<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloKids"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".PhotoalbumRecogViewActivity"
            android:exported="false" />
        <activity
            android:name=".MainTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".MainWaitingActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.HelloKids.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhotoalbumRekogListActivity"
            android:exported="false" />
        <activity
            android:name=".PhotoalbumRekogRecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".SettingMyInfoActivity"
            android:exported="false" />
        <activity
            android:name=".SettingChildProfileActivity"
            android:exported="false" />
        <activity
            android:name=".PhotoalbumRekogActivity"
            android:exported="false" />
        <activity
            android:name=".SettingClassAddActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceParentsListActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.bpdev.hellokids.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity
            android:name=".DailyNoteParentsAddActivity"
            android:exported="false" />
        <activity
            android:name=".DailyNoteParentsListActivity"
            android:exported="false" />
        <activity
            android:name=".ScheduleViewParentsActivity"
            android:exported="false" />
        <activity
            android:name=".ScheduleChildListActivity"
            android:exported="false" />
        <activity
            android:name=".SettingSchoolbusEditActivity"
            android:exported="false" />
        <activity
            android:name=".SettingSchoolbusListActivity"
            android:exported="false" />
        <activity
            android:name=".SettingSchoolbusAddActivity"
            android:exported="false" />
        <activity
            android:name=".SchoolbusEditActivity"
            android:exported="false" />
        <activity
            android:name=".SchoolbusAddActivity"
            android:exported="false" />
        <activity
            android:name=".SchoolbusViewActivity"
            android:exported="false" />
        <activity
            android:name=".SchoolbusParentListActivity"
            android:exported="false" />
        <activity
            android:name=".SettingSchoolbusDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".SchoolbusLocationActivity"
            android:exported="false" />
        <activity
            android:name=".ScheduleViewActivity"
            android:exported="false" />
        <activity
            android:name=".ScheduleListActivity"
            android:exported="false" />
        <activity
            android:name=".ScheduleEditActivity"
            android:exported="false" />
        <activity
            android:name=".ScheduleAddActivity"
            android:exported="false" />
        <activity
            android:name=".ScheduleCalendarActivity"
            android:exported="false" />
        <activity
            android:name=".SettingChildInfoAddActivity"
            android:exported="false" />
        <activity
            android:name=".SettingClassInfoEditActivity"
            android:exported="false" />
        <activity
            android:name=".SettingNurseryAddActivity"
            android:exported="false" />
        <activity
            android:name=".SettingClassinfoActivity"
            android:exported="false" />
        <activity
            android:name=".SettingApproveActivity"
            android:exported="false" />
        <activity
            android:name=".SettingListActivity"
            android:exported="false" />
        <activity
            android:name=".PhotoalbumEditActivity"
            android:exported="false" />
        <activity
            android:name=".PhotoalbumViewActivity"
            android:exported="false" />
        <activity
            android:name=".SchoolbusAddChildActivity"
            android:exported="false" />
        <activity
            android:name=".SchoolbusAddTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".SchoolbusInfoActivity"
            android:exported="false" />
        <activity
            android:name=".PhotoalbumAddActivity"
            android:exported="false" />
        <activity
            android:name=".PhotoalbumListActivity"
            android:exported="false" />
        <activity
            android:name=".SettingChildinfoActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterSelectActivity"
            android:exported="false" />
        <activity
            android:name=".SchoolbusListActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceCheckActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceEditActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceAddActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceListActivity"
            android:exported="false" />
        <activity
            android:name=".FoodmenuViewActivity"
            android:exported="false" />
        <activity
            android:name=".FoodmenuEditActivity"
            android:exported="false" />
        <activity
            android:name=".FoodmenuAddActivity"
            android:exported="false" />
        <activity
            android:name=".FoodmenuListActivity"
            android:exported="false" />
        <activity
            android:name=".DailynoteViewActivity"
            android:exported="false" />
        <activity
            android:name=".DailynoteEditActivity"
            android:exported="false" />
        <activity
            android:name=".DailynoteAddActivity"
            android:exported="false" />
        <activity
            android:name=".DailynoteListActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity1"
            android:exported="false" />
        <activity
            android:name=".NoticeEditActivity"
            android:exported="false" />
        <activity
            android:name=".NoticeViewActivity"
            android:exported="false" />
        <activity
            android:name=".NoticeAddActivity"
            android:exported="false" />
        <activity
            android:name=".NoticeListActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAFlVtXMR1k224QEstsniTQOW0vckiuYbA" />
    </application>

</manifest>